*{
	padding: 0;
	margin: 0;
}
@media print{
	.hoja{
		font-size: 16px !important;
		max-widtch: 58mm;
	}
	*{
		padding-left: 5px !important;
		margin: 0;
	}
}
.hoja{
	font-size: 16px !important;
	max-width: 58mm;
	padding-left: 10;
	padding-right: 5px;
}
.header{
	border-radius: 5px;
}
.cuerpo{
	font-size: 9px;
	line-height: 13px;
	padding: 5px;
	border-radius: 5px;
}
.cuerpo .contenido{
	border-top: 1px dashed #000;
}
.cuerpo .folio{
	font-size: 13px;
	font-weight: 900;
	text-decoration: underline;
}
.footer{
	text-align: center;
	margin-top: 0.5cm;
	font-size: 9px;
	bottom: 5px;
}